body {
    background-color: #c0c0c0;
}

.login-area {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: #868686;
}

.login-form{
    margin: auto;
    width: 100px;
}