#dropdown select {
  width: 76px;
  height: 50px;
}

#d3 {
  position: absolute;
  margin-top: 450px;
  margin-left: 836px;
}

#d2 {
  position: absolute;
  margin-top: 400px;
  margin-left: 836px;
}

#d1 {
  position: absolute;
  margin-left: 836px;
}

#back {
  position: relative;
  display: block;
}

#d4 {
  position: absolute;
  margin-top: 500px;
  margin-left: 836px;
}

#dal {
  position: absolute;
  margin-top: 889px;
  margin-left: 1000px;
}

#dal select {
  width: 200px;
}

#buttons{
    position: absolute;
  margin-top: 350px;
}

