#food_body{
    background: url("../img/food/foodbackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
}
.rest_img
{
    height: 250px;
    width: 250px;
    margin-right: 25px;
    float: right;
}

.food_breadcrums
{
    font-size: 15px;
}

.food_container
{
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #F2F2F2 ;
    width: 60%;
    height: auto;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.food_intro p{
    margin-top: -25px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.food_intro h2{
    text-align: center;
    font-size: 36px;
}

.food_grid-container {
    display: grid;
    grid-template-areas: "a a";
    grid-gap: 10px;
}

.food_grid-container > div {
    padding-bottom: 5px;
    height: 200px;
    width: 425px;
    padding-right: 10px;
    margin-bottom: 15px;
}
.starImg
{
    float: right;
    margin-top: -5px;
    margin-right: -10px;
    width: 40px;
    height: 40px;
}
.cuisineImg
{
    margin-right: 10px;
    margin-top: -5px;
    float: right;
    width: 40px;
    height: 40px;
}
.food_a
{
    margin-top: -40px;
    float: right;
    font-size: 15px;
}
.food_a :hover{
    font-weight: bold;
}

.rest_img_overview
{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    width: 200px;
    height: 200px;
}

.food_avaibility
{
    float: right;
}


.food_avaibility > table
{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

.food_avaibility tr
{
    height: 50px;
}

.food_avaibility > select
{
    float: right;
    font-size: 18px;
}

.food_avaibility > button
{
    margin-top: 10px;
    margin-left: 24%;
    border-radius: 10px;
    height: 40px;
    width: 220px;
    font-size: 18px;
    background-color: #99FF99;
}

.food_location
{
    border-color: #99FF99;
    margin-bottom: 10px;
}

#food_reservate_panel
{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: fixed;
    height: 675px;
    width: 600px;
    margin-left: 30%;
    margin-top: -1000px;
    background-color: #F2F2F2;
    float: right;
    font-size: 24px;
}

#food_reservate_panel >form> button
{
    margin-top: 15px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #99FF99;
}

#food_reservate_panel > button
{
    margin-top: 15px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #99FF99;
}

#food_reservate_panel >form> select
{
    float: right;
    font-size: 20px;
}
#food_reservate_panel >form> table
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
    border-color: #99FF99;
    color: black;
}
#food_reservate_panel >form> input
{
    float: right;
    width: 100px;
    font-size: 20px;
}

#food_reservate_panel >form> textarea
{
    width: 100%;
}

.food_errorMessage
{
    color: red;
    background-color: bisque;
    border-color: red;
}

#continueReservationPanel{
    height: 341px;
    width: 728px;
    font-size: 28px;
    position: absolute;
    margin-top: -800px;
    background-color: #F2F2F2;
    margin-left: 400px;
    border-color: #99FF99;
    border-style: solid;
    padding-top: 50px;

}

#continueReservationPanel > button
{
    background-color: #99FF99;
    width: 280px;
    margin-left: 50px;
    border-radius: 15px;
}



