/* CSS file for styling */

#top-menu {
    background-color: #ffff99;
    height: 40px;
    border-radius: 0 0 15px 15px;
    border: 1px black solid;
    border-top: 0;
    margin-bottom: 20px;
}

.shadow-sm {
    box-shadow: 9px 6px 10px rgba(0, 0, 0, .50) !important;
}

.rounded {
    border: 1px rgba(0, 0, 0, .75) solid;
}

.route-location {
    padding-right: 15px;
}

.tour-route {
    background-color: #fafaa7;
    border-radius: 10px;
    padding: 15px;
}

#tour-route ul {
    padding: 10px;
}

#route-list {
    margin: 10px;
    padding: 25px;
}

.table th {
    vertical-align: bottom;
    border-top: 0;
}

h5 {
    margin-bottom: 10px;
}

.tour-btn {
    display: inline-block;
    text-decoration: none;
    background: lightgray;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    border: #000 solid 1px;
}

.active,
.tour-btn:hover {
    background: #fcfc75;
}

.button-wrapper {
    text-align: center;
    display: inline-block;
    margin: 10px;
}