#gray
    {
        background-color: rgb(93, 93, 93);
    }

.blue_bg
    {
        background-color: rgb(5, 47, 126);
    }

.headerInfo
    {
        background-color: rgb(61, 112, 207);
    }

.emptyspace
    {
        margin-left: 20%;
        margin-right: 20%;
        width:60%;
        
    }

.dropjazz
    {
        margin-bottom: 350px;
    }

.centered
    {
        text-align: center;
    }

.white_text
    {
        color: white;
    }

.titlespace
    {
        margin-bottom: 100px;
    }



.SeeTickets
    {
        margin-top: 20px;
        margin-bottom: 30px;
    }

.firstimage img
    {
        float: right;
        height: 280px;
        width: 430px;
    }

.image
    {
        width:20%;
	    height: 450px;
    }

table, th, td
    {
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        border-collapse: collapse;
        text-align:center;
        
    }


.tickettable
    {

    }    

    
    
.title
    {
        color: rgb(255, 255, 255);
    }
/*    
.header
    {
        background-color: #999999;
        width: 800px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 160%;
        color: #000000;
        border: 2px;
        border-style: solid none solid none;
        border-color: #ffffff;
    }*/