ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

#profile_body
{
    height: 435px;
    background-color: cornflowerblue;
    padding-left: 10%;
}

#content_section
{
    width: 850px;
    height: auto;
    background-color: white;
    float: left;
}