/* CSS file for styling */
.headerInfo
    {
        height: 200px;
        width: 100%;
	    margin-left: auto;
	    margin-right: auto;
        background-color: darkgray;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
.header_image
    {
        float: left;
        width: 200px;
        height: 200px;
    }