body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  .content {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    background-color: #e9e9e9;
  }

  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: RoyalBlue;
  }