.center {
    margin: auto;
    width: 600px;
    border: 2px solid #73AD21;
    padding: 10px;
    background-color: lightgrey;
}

#editable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#editable td, #editable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#editable tr{
    text-align: center;
}

#editable input{
    text-align: center;
}

#editable tr:nth-child(even){background-color: #f2f2f2;}

#editable tr:hover {background-color: #ddd;}

#editable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#backbutton {
    background-color: #99ffcc;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

#backbutton:hover {
    background-color: #555;
}

#backbutton:active {
    background-color: black;
}

.btn {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    color: #10a2ff;
    cursor:pointer;
}

.default {
    background-color:#FF0040;
    color: #FFFFFF;
}

.userSection {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
}

.contentSection {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
}

.ticketSection {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: #F8F8F8;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.tabcontent h1{
    color: black;
}

.tabcontent span{
    color: black;
}

.txtarea{
    margin-left: auto;
    margin-right: auto;
}
.txtarea textarea{
    width: 900px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.update{
    width: 900px;
}